//base styles for everything that isn't width specific

/*---------FONT FACE---------*/

@font-face {
    font-family: 'Bite Bullet';
    src: url('../fonts/bitebullet-webfont.eot');
    src: url('../fonts/bitebullet-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitebullet-webfont.woff2') format('woff2'),
         url('../fonts/bitebullet-webfont.woff') format('woff'),
         url('../fonts/bitebullet-webfont.ttf') format('truetype'),
         url('../fonts/bitebullet-webfont.svg#bite___bulletmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*-------------Colours---------------*/

$orange: #f27708;
$off-white: #efefef;
$grey: #2e2e2e;

/*---------Basic Reset---------*/

* {
	@include border-box();
}

html {
	font-size: 1em; //16px;
	line-height: 1.5;
	font-family: "Open Sans", sans-serif;
}

html, body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 100%;
}

body {
	background: $off-white;
	color: $grey;
}

/*---------Typography Settings---------*/

$base-font-size: 1rem;
$base-line-height: 1.5rem;
$measure: 760px;

$h1-font-size: 3.375rem;
$h1-line: 1.5rem;
$h1-lines: 3;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 2.25rem;
$h2-line: 1.5rem;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 1.5rem;
$h3-line: 1.5rem;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: 1rem;
$h4-line: 1.5rem;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

/*---------Typography---------*/

.h1, .h2, .h3, .h4 {
	font-family: "Bite Bullet";
	font-weight: normal;
}

.h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin: $h1-margin-top 0 $h1-margin-bottom 0;
}

.h2 {
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	margin: $h2-margin-top 0 $h2-margin-bottom 0;
}

.h3 {
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	margin: $h3-margin-top 0 $h3-margin-bottom 0;
}

.h4 {
	font-size: $h4-font-size;
	line-height: $h4-line-height;
	margin: $h4-margin-top 0 $h4-margin-bottom 0;
}

p {
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin: 1.5rem 0 1.5rem 0;
}

/*-------------Size / Primitives---------------*/

.section {
	@include clearfix();
}

.section--full-height {
	height: 100%;
}

.container {
	width: 100%;
	max-width: 1020px;
	margin: 0 auto 0 auto;
	@include clearfix();
	padding: 0 20px;
}

.section--padded {
	padding: 30px 0;
}

.full {
	width: columns(12);
}

.three-quarters {
	width: columns(12);
}

.two-thirds {
	width: columns(12);
}

.half {
	width: columns(12);
}

.third {
	width: columns(12);
}

.quarter {
	width: columns(12);
}

img {
	max-width: 100%;
}

.media-holder {
	text-align:center;
}

/*-------------Layout Helpers---------------*/

.left {
	float: left;
}

.right {
	float: right;
}

.align-center {
	text-align: center;
}

//this classes pushes stuff down the navigation height
.push-down {
	margin-top: 80px;
}

/*-------------Text Modiers---------------*/

.text--white {
	color: $off-white;
}

.constrained {
	p {
		max-width: $measure;
		margin-left: auto;
		margin-right: auto;
	}
}

/*-------------background Modifers---------------*/

.background--orange {
	background: $orange;
}

.background--off-white {
	background: $off-white;
}

/*===========================================
				MAIN THEME
=============================================*/

/*-------------Navs / Menu Stuff ---------------*/

.nav {
	position:fixed;
	top:0;
	left:0;
	@include clearfix();
	ul {
		padding: 0 0 0 0;
		margin: 0 0 0 0;

		li {
			list-style:none;
			float: left;
			width: columns(2.4);

			a {
				display:block;
				text-align:center;
				font-family: "Bite Bullet", sans-serif;
				color: $grey;
				padding: 10px 15px;
				text-decoration: none;
				font-size: 40px;

				&:hover {
					color: $orange;
				}
			}
		}
	}
}

/*-------------Gallery Grid Styles ---------------*/

.gallery {
	@include clearfix();
	padding: 80px 0;
}

.gallery__item {
	padding: 20px 10px 20px 10px;
	overflow:hidden;
	height: 180px;
  cursor: pointer;
}

/*-------------Footer Styles---------------*/

.banner {
	background: url('../media/banner.jpg') repeat-x;
	height:14px;
}

.social-links {
	padding: 15px 0 15px 0;
	margin: 0 0 0 0;
	text-align:center;
	li {
		display: inline-block;
		list-style:none;
	}
}

.copyright {
	margin-top: 0;
	color: #999;
}
