@charset "utf-8";
/* CSS Document */

nav{
	background-color:#efefef;
	width:960px;
	height:14%;
	position:fixed;
	top:0;
	color:#2e2e2e;	
}

a{
	text-decoration:none;
	width:960px;
	font-family:'Bite _ Bullet', san-serif;
	font-weight:300;
	font-size:40px;
	color:#2e2e2e;
}

#orange{
	background-color:#f2770a;
	width:960px;
	font-size:16px;
	padding: 20px 0;
}

#text{
	padding:60px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	max-width:480px;
	margin: 0 auto 0 auto;
	line-height: 1.5;
}

#page{
	width:960px;
	background-color:#efefef;
}

#body{
	margin: 0 auto;
	padding-left:180px;
	padding-right:180px;
	background-size:cover;
	background-color:#efefef;
	color:#efefef;
	width:960px;
}

a {outline : none;}

a img {outline : none;}

img {border : 0;}

a:hover{
	color:#f2770a;
}

ol#navigationlinks,ol{
	padding:0px;
}

ol#navigationlinks li{
	width:960px;
	display:inline;
	margin-left:auto;
	margin-right:auto;
	padding-left:100px;
}

.currentPage{
	color:#f2770a;
}

footer{
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	font-size:14px;
	width:960px;
	color:#2e2e2e;
}