@charset "utf-8";
/* CSS Document */

nav{
	background-color:#efefef;
	width:960px;
	height:14%;
	position:fixed;
	top:0;
	color:#2e2e2e;	
}

a{
	text-decoration:none;
	width:960px;
	font-family:'Bite _ Bullet', san-serif;
	font-weight:300;
	font-size:40px;
	color:#2e2e2e;
}

#page{
	width:960px;
	background-color:#efefef;
}

a:hover{
	color:#f2770a;
}

#body{
	margin: 0 auto;
	padding-left:180px;
	padding-right:180px;
	background-size:cover;
	background-color:#efefef;
	color:#2e2e2e;
	width:960px;
}

a:hover{
	color:#f2770a;
}

ol#navigationlinks,ol{
	padding:0px;
}

ol#navigationlinks li{
	width:960px;
	display:inline;
	margin-left:auto;
	margin-right:auto;
	padding-left:100px;
}

.currentPage{
	color:#f2770a;
}

p{
	font-family: 'Bite _ Bullet', sans-serif;
	font-weight:500;
	font-size:30px;
	color:#2e2e2e;
}

section {
	width:960px;
}

footer{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:500;
	font-size:14px;
	width:960px;
	color:#2e2e2e;
}